* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Verdana, sans-serif;
  background-color: #ffd7e5;
}

h1,
h2 {
  /* color: rgb(11, 122, 7); */
  color: #0b7a07;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;

  border-style: solid;
  border-color: #db26dc;
  color: #00ffb9;
}

h2 {
  font-size: 25px;
}

p {
  text-align: justify;
}

#localizacao {
  color: #8f8500;
}

.cursos {
  background-color: #1b0092;
}

.principal {
  color: #f5fbfb;
}